body {
    font-family: 'Roboto', sans-serif;
    background:  url('https://get.pxhere.com/photo/branch-plant-leaf-flower-dark-line-green-jungle-darkness-fern-computer-wallpaper-fractal-art-505665.jpg') fixed;
    background-size: cover; 
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    border: none;
    background-color: rgb(29, 83, 62);   
}
  
header, footer {
    text-align: center;
    color: white;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    border: none;
}

button {
    padding: 20px;
    border: none;
    background-color: rgb(69, 84, 99);
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
    
}
  
button:hover {
    background-color: rgb(184, 184, 98);
}
  
#footer {
    list-style-type: none;
}